{% extends "shared/_Main.html" %}
{% load static %}

{% block title %}{{ meta_title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block main %}
<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/" class="font-14 text-muted-two">خانه</a></li>
                <li class="breadcrumb-item active"><a href="#" class="font-14 text-muted-two">{{ page.title }}</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="static-page py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="static-page-content shadow-box p-4 rounded">
                    <h1 class="h2 mb-4 title-font">{{ page.title }}</h1>
                    <div class="static-page-body">
                        {{ page.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 